 .row {
     text-align: center;
 }

 .tiles {
     display: inline-block;
     width: 100px;
     height: 100px;
     background-color: #eee;
     cursor: pointer;
 }

 .tiles:hover {
     box-shadow: inset 0px 0px 0px 1px black;
     box-sizing: border-box
 }

 .color.red {
     background-color: red;
 }

 .color.orange {
     background-color: orange;
 }

 .color.green {
     background-color: green;
 }

 .color.purple {
     background-color: purple;
 }

 .color.skyblue {
     background-color: skyblue;
 }

 .color.yellow {
     background-color: yellow
 }

 .color.navy {
     background-color: navy;
 }

 .color.pink {
     background-color: pink;
 }

 .hide-color {
     background-color: none;
 }