 .row {
     text-align: center;
 }

 .tiles {
     display: inline-block;
     width: 100px;
     height: 100px;
     background-color: #eee;
     cursor: pointer;
 }

 .tiles:hover {
     box-shadow: inset 0px 0px 0px 1px black;
     box-sizing: border-box
 }

 .red {
     background-color: red;
 }

 .orange {
     background-color: orange;
 }

 .green {
     background-color: green;
 }

 .purple {
     background-color: purple;
 }

 .skyblue {
     background-color: skyblue;
 }

 .yellow {
     background-color: yellow
 }

 .navy {
     background-color: navy;
 }

 .pink {
     background-color: pink;
 }