.grid-1 {
    display: grid;
    border: 5px solid red;
    width: 600px;
    height: 600px;
}
/* 1. used webdesign.com for grid template */
.grid-1 {
    display:grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
}

.grid-1 div {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.item-1 {
    background: #b03532;
}

.item-2 {
    background: #33a8a5;
}

.item-3 {
    background: #30997a;
}

.item-4 {
    background: #6a478f;
}

.item-5 {
    background: #da6f2b;
}

.item-6 {
    background: #3d8bb1;
}

.item-7 {
    background: #e03f3f;
}

.item-8 {
    background: #59a627;
}

.item-9 {
    background: #30997a;
}
  
.item-10 {
    background: #59a627;
}

.item-11 {
    background: #da6f2b;
}

.item-12 {
    background: #3d8bb1;
}

.item-13 {
    background: #b03532;
}

.item-14 {
    background: #e03f3f;
}

.item-15 {
    background: #6a478f;
}

.item-16 {
    background: #33a8a5;
}
