@font-face {
    font-family: "Pixel";
    src: url(/assets/pixelfont/pixel.TTF);
}

#gametitle {
    font-family: "Pixel";
    src: url("/assets/pixelfont/pixel.TTF");
    animation: rainbow 5s infinite;
    font-size: 30px;
    text-align: center;
}


body{
    background-image: url(/assets/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#countdown {
    font-family: "Pixel";
    src: url("/assets/pixelfont/pixel.TTF");
    animation: rainbow 5s infinite;
    font-size: 23px;
}
/* https://www.youtube.com/watch?v=bbb9dZotsOc */

.row {
    text-align: center;
}


.tiles {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eee;
    cursor: pointer;
}

.tiles.done {
    cursor: default;
}

.tiles.done {
    cursor: default;
    box-shadow: none;
}

.tiles:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
}

.brown {
    background-color: #826148;
}

.redpink {
    background-color: #DD0054;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.skyblue {
    background-color: skyblue;
}

.yellow {
    background-color: yellow
}

.navy {
    background-color: navy;
}

.pink {
    background-color: pink;
}

.hide-color {
    background-color: #eee;
}

/* rainbow effects from codepen */
.instructions {
    animation: rainbow 5s infinite; 
    font-family: "Pixel";
    src: url("/assets/pixelfont/pixel.TTF");
    width: 350px;
  }
  

  @-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }


